@tailwind base;
@tailwind components;
@tailwind utilities;

img,
video {
  max-width: 100%;
  height: auto;
}

* {
  background-color: #fffefe;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 1rem;
  max-width: 770px;
}
